


/*BLOCCO TAG*/

img {
  height: 200px;
}

div{
  padding: 0 25px;
  margin: 50px 0;
}

h1{
  margin: 30px 0;
  font-size: 45px;
}

h3,hr{
  margin: 25px 0;
}

h3{
  font-size: 35px;
}

/*END BLOCCO TAG*/


/* BLOCCO LEZIONI */

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */


#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}



#why .container img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */

.container::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}



.clear {
  clear: both;
}



#lezioni, #steps, #why, #text{
  font-size: 20px;
}

/*END COMMON */

/*media-query*/

/*XS*/
@media screen and (max-width: 767px){

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


  h1,h3,div,hr{
    margin:25px 0;
  }

  h1{
    font-size: 35px;
  }

  h3{
    font-size: 26px;
  }

  div{
    padding: 0 20px;
  }

  #lezioni, #steps, #why, #text{
    font-size: 20px;
  }

}

/*END XS*/

/*MD*/

@media screen and (max-width: 991px){

  #lezioni .container .left,
  #lezioni .container .right,
  #steps .container .left,
  #steps .container .center{
    padding: 0 20px;
  }

  div,h3,hr{
    margin: 25px 0;
  }

  h1{
    font-size: 35px;
  }

  h1:first-child{
    margin-top: 18px;
  }

  h3{
    font-size: 25px;
  }

  #lezioni, #steps, #why, #text{
    font-size: 18px;
  }

  img{
    height: 220px;
  }

  #lezioni .container .right img{
      width: 320px;
      height: auto;
      margin-top: 25px;

    }
}

/*END MD*/

/*end media-query*/
